#nav ul li a:hover{
    background-color: #F28E74 ;
}

#container-section{
    padding-top: 1%;
}

.comments{
    align-content: center;
}

figure{
    align-self: center;
}

#songs{
    margin: 2%;
}

#social-networks{
    align-self: flex-end;
}


@media (max-width: 582px){
    #social-networks{
        width: 100%;
        text-align: center;
    }

    #social-networks li a{
        padding: 0;
    }
}
